*.pyc
Duke_Thalam.py
testerss.py
/logs
/metadata
*.xlsx
*.xlsx
cfg/participant_conditions_path.txt
MOCK_DEVICE_ENABLED

# Distribution / packaging
build/
dist/
src/sweden-amyg
*.egg-info/
*.egg


# temporary
src_bckp/*
src_bckp copy/*
ti_gui.log
.vscode/launch.json
/TILA_DATA_API_TEST
